@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@font-face {font-family: ourfont; src: url(assets/fonts/Dosis-Regular.ttf);}
:root{
  --main: #f6f8fc;
  --main-inner: #ffffff;
  --text: rgb(0, 0, 0);
  --sub-text: #dddddd;
  --click-text: #58a6ff;
  --oreo: #5c509f;
  --shadow: rgb(124, 124, 124);
  --main-red: white;
}
body{
  font-family: sans-serif;
  color: var(--text);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.column{
  display: flex;
  flex-direction: column;
}
.line{
  height: 1px;
  width: 100%;
  background-color: #fff;
}
::placeholder {
  color: white;
}
.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px 
}
.bg-login{
  background-image: url('../../assets/content/loginbackground.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.bg-main{
  background-image: url('../../assets/content/main.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}
.main{
  margin: 50px 100px 0 100px;
  height: 100%;
}
.card{
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.visible{
  visibility: visible;
  display: block;
}
section{
  visibility: hidden;
  display: none;
  height: calc(100% - 200px);
}
button, input[type="submit"], input[type="reset"]{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: none;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
}
.button:hover{
  background: var(--main-red);
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--main-red), 0 0 25px var(--main-red), 0 0 50px var(--main-red), 0 0 100px var(--main-red);
}

.home-max{
  height: calc(96%);
}