form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    margin: 10px 0;
}
.button-center {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, 0);
}
button, input[type="submit"], input[type="reset"]{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: none;
    color: white;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px 
 }
.button:hover{
    background: var(--main-red);
    color: black;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-red), 0 0 25px var(--main-red), 0 0 50px var(--main-red), 0 0 100px var(--main-red);
}