.search-card{
    width: 25%;
    height: 75vh;
}
.search-box-card{
    width: 95%;
    height: 5vh;
    margin-bottom: 2vh;
}
.poke-card{
    min-width: 30%;
    max-width: 30%;
    height: 20vh;
    margin-top: 40px;
    margin-bottom: 2vh;
    margin-right: 2.5%;
}
.header{
    height: 10vh;
    width: 100%;
    margin-bottom: 4vh;
}
.flex-box{
    width: 75%;

}
.row-3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y :scroll  ; 
    height:65vh;
}

.row img{
    margin: auto;
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-track {
    background: none;
}
body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
}
.scrollbar::-webkit-scrollbar-track {
    background: none;
}
.scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}

ul{
    list-style-type:none;
}
li{
    margin-right: 7px;
}
a {
    all: unset;
}

.user-box input {
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
  }