/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
}

.login{
background-image: url('../../assets/content/loginbackground.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
.login-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 10px 0;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #545454;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
   
}

button:hover {
    background-color: #0a27e8;
}

.feedback {
    margin-top: 20px;
}

#feedback-message {
    color: #f00;
}


input.right {
  float: right;
}

.flex-container{
    display: flex;

}

button {
    margin: 6px;
}

a {
    text-decoration-color: white;
    text-decoration: none;
    color: white;
}


.validlogin{
    padding: 10px 20px;
    background-color: #565656;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.validlogin:hover {
    background-color: #e7d214;
}

.login-container
{
border-color: #e7d214;
border-width: 10px;
background-color: transparent;

}
.textbox{
    background-color: #565656;
    color: #fefefe;
}

section{
    visibility: hidden;
    display: none;

}
.visible{
    visibility: visible;
    display: block;
}
