# doThis before starting app.py
python3 -m venv venv # create virtual environment
.\venv\Scripts\activate.bat # $ source venv/bin/activate (for linux) #activate virtual environment
pip install flask # install flask
